[submodule "plugins/MoneyPlugin"]
	path = plugins/MoneyPlugin
	url = git@github.com:yvsoucom/MoneyPlugin.git
[submodule "plugins/PurityTheme"]
	path = plugins/PurityTheme
	url = git@github.com:yvsoucom/PurityTheme.git
