ENV_VERSION=env-v1.0.0

APP_NAME=yvsou-cms
APP_ENV=local
 
APP_KEY=base64:+6xzDd3Ywh+TS/7kHJZmLs7HQpXv0Q+diCUDDB7DyJE=

APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LANGUAGESET=en,zh,ja

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

### MYSQL_START ###
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=yvsou_test
# DB_USERNAME=root
# DB_PASSWORD=
### MYSQL_END ###

### PGSQL_START ###
# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=yvsou_test
# DB_USERNAME=postgres
# DB_PASSWORD=secret
### PGSQL_END ###

### SQLITE_START ###
# DB_CONNECTION=sqlite
# DB_DATABASE=storage/sqlite/database.sqlite
### SQLITE_END ###
  

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

#Workman Configuration
WEBSOCKET_ENABLED=true
WEBSOCKET_HOST=0.0.0.0
WEBSOCKET_PORT=8080
WEBSOCKET_WORKER_COUNT=4

#admin user can takeover control
ADMINHASRIGHTS=true

# only block all machines access
BLOCKBOT=false

#migration from old system
MIGRATEDOMAINHOST=yvsou.com/wp-content,www.yvsou.com/wp-content,127.0.0.1:8000


# Alipay Configuration
ALIPAY_APP_ID=your_app_id_here
ALIPAY_MERCHANT_PRIVATE_KEY="your_merchant_private_key_here"
ALIPAY_PUBLIC_KEY="your_alipay_public_key_here"
ALIPAY_NOTIFY_URL=https://yourdomain.com/moneyplugin/alipay/notify
ALIPAY_RETURN_URL=https://yourdomain.com/payment/return

# WeChat Pay Settings
WECHAT_APP_ID=
WECHAT_MCH_ID=
WECHAT_MCH_KEY=
WECHAT_NOTIFY_URL=https://example.com/moneyplugin/wechat/notify
WECHAT_CERT_PATH=/full/path/to/apiclient_cert.pem
WECHAT_KEY_PATH=/full/path/to/apiclient_key.pem

# PAYPAL
PAYPAL_CLIENT_ID=your_client_id_here
PAYPAL_CLIENT_SECRET=your_client_secret_here
PAYPAL_MODE=sandbox  # or live

#VISA
STRIPE_SECRET_KEY=sk_test_YourSecretKeyHere
