// SPDX-FileCopyrightText: 2025 Hangzhou Domain Zones Technology Co., Ltd.
// SPDX-FileCopyrightText: 2025 Institute of Future Science and Technology G.K., Tokyo
// SPDX-License-Identifier: MIT  

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600 hover:text-blue-800 hover:underline transition;
  }
}

ins {
  background-color: #d4fcbc;
  text-decoration: none;
  color: green;
}

del {
  background-color: #ffecec;
  color: red;
  text-decoration: line-through;
}
.dark .prose img {
  opacity: 0.9;
  filter: brightness(0.9) contrast(1.1);
}